@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181712;
  color: #f3f3f0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
